name: ollama
services:
  ollama:
    container_name: ollama
    image: ollama/ollama:latest
    restart: unless-stopped
    ports:
      # Host Port : Container Port
      - "11434:11434"
    networks:
      svr1-network:
        ipv4_address: 172.21.255.241
    dns:
      - 172.21.255.254
    dns_search:
      - "."
    volumes:
      - ollama_data:/root/.ollama
    healthcheck:
      test: ["CMD-SHELL", "ollama ps || exit 1"]
      interval: 30s

volumes:
  ollama_data:

networks:
  svr1-network:
    external: true
