- name: Install packages
  become: true
  register: output_apt_install
  ignore_errors: true
  ansible.builtin.apt:
    autoremove: true
    state: present
    update_cache: true
    name:
      - ansible
      - ansible-core
      - ansible-lint
      - bat
      - btop
      - build-essential
      - ca-certificates
      - clang
      - clangd
      - clevis
      - clevis-initramfs
      - clevis-luks
      - clevis-tpm2
      - cmake
      - containerd.io
      - cryptsetup
      - curl
      - dislocker
      - dkms
      - docker-buildx-plugin
      - docker-ce
      - docker-ce-cli
      - docker-compose-plugin
      - ethtool
      - exfatprogs
      - fail2ban
      - fastfetch
      - ffmpeg
      - ffmpegthumbnailer
      - firefox
      - firmware-linux
      - firmware-linux-free
      - firmware-linux-nonfree
      - firmware-misc-nonfree
      - flatpak
      - fwupd
      - gir1.2-ayatanaappindicator3-0.1
      - git
      - gnome-shell-extension-appindicator
      - gnome-software-plugin-flatpak
      - initramfs-tools
      - inotify-tools
      - iputils-ping
      - libayatana-appindicator3-1
      - linux-headers-amd64
      - locales
      - net-tools
      - ninja-build
      - nmap
      - ovmf
      - pkg-config
      - python3
      - python3-ansible-runner
      - python3-apt
      - python3-cryptography
      - python3-cssutils
      - python3-git
      - python3-gitlab
      - python3-gpg
      - python3-numpy
      - python3-pandas
      - python3-pip
      - python3-requests
      - python3-tqdm
      - python3-venv
      - rdesktop
      - rsync
      - s-tui
      - spice-vdagent
      - ssh
      - strace
      - systemd-resolved
      - tcpdump
      - tigervnc-standalone-server
      - tree
      - ufw
      - util-linux
      - virt-manager
      - vnstat
      - wget
      - wireguard
      - zram-tools

- name: Show apt install output
  ansible.builtin.include_tasks: view_logs.yml
  vars:
    output: "{{ output_apt_install }}"
