# More info at https://github.com/pi-hole/docker-pi-hole/ and https://docs.pi-hole.net/
name: pi-hole
services:
  pihole:
    container_name: pihole
    image: pihole/pihole:2025.11.1
    restart: always
    networks:
      default:
      svr1-network:
        ipv4_address: 172.21.255.254
    # commented out to use DNS settings of the host and make Docker start it's embedded DNS server
    # dns:
    #   - 172.17.0.1 # docker bridge gateway
    dns_search:
      - "."
    ports:
      # Host Port : Container Port
      - "192.168.178.117:53:53/tcp" # avoid port conflict with host DNS configuration
      - "192.168.178.117:53:53/udp"
      # Default HTTP Port
      # - "7080:80/tcp"
      # Default HTTPs Port. FTL will generate a self-signed certificate
      - "7443:443/tcp"
      # Uncomment the line below if you are using Pi-hole as your DHCP server
      #- "67:67/udp"
      # Uncomment the line below if you are using Pi-hole as your NTP server
      #- "123:123/udp"
    environment:
      # Set the appropriate timezone for your location (https://en.wikipedia.org/wiki/List_of_tz_database_time_zones), e.g:
      TZ: "Europe/Berlin"
      # Set a password to access the web interface. Not setting one will result in a random password being assigned
      FTLCONF_webserver_api_password: ${PIHOLE_WEB_PASSWORD}
      PIHOLE_UID: "1000"
      PIHOLE_GID: "1000"
      # If using Docker's default `bridge` network setting the dns listening mode should be set to 'ALL'
      FTLCONF_dns_listeningMode: "ALL"
      FTLCONF_dns_dnssec: "true"
      FTLCONF_dns_port: "53"
      # use Docker's embedded DNS server (which uses host's DNS settings)
      FTLCONF_dns_upstreams: |
        127.0.0.11
      FTLCONF_dns_domain: "lan"
      FTLCONF_dns_hosts: |
        172.21.255.254 pihole.lan
        172.21.255.253 authentik.lan
        172.21.255.252 paperless.lan
        172.21.255.251 dockge.lan
        172.21.255.250 linkwarden.lan
        172.21.255.249 npm.lan
        172.21.255.248 kuma.lan
        172.21.255.247 wallabag.lan
        172.21.255.246 homepage.lan
        172.21.255.245 photon.lan
        172.21.255.244 dawarich.lan
        172.21.255.243 immich.lan
        172.21.255.242 cup.lan
        172.21.255.241 ollama.lan
        172.21.255.240 jellyfin.lan
        172.21.255.239 dawarich-sidekiq.lan
        172.21.255.238 caddy.lan
      FTLCONF_dhcp_active: "false"
    volumes:
      # For persisting Pi-hole's databases and common configuration file
      - "pihole_data:/etc/pihole"
    cap_add:
      # See https://github.com/pi-hole/docker-pi-hole#note-on-capabilities
      # Required if you are using Pi-hole as your DHCP server, else not needed
      - NET_ADMIN
      # Required if you are using Pi-hole as your NTP client to be able to set the host's system time
      - SYS_TIME
      # Optional, if Pi-hole should get some more processing time
      - SYS_NICE

volumes:
  pihole_data:
    name: pihole_data

networks:
  default:
    driver: bridge
  svr1-network:
    external: true
