name: dawarich

x-variables:
  dawarich_image: &dawarich_image freikin/dawarich:1.1.0
  app_hosts: &app_hosts localhost,dawarich.bl4ckspell.freeddns.org
  photon_api_host: &photon_api_host photon.lan:2322
  photon_api_use_https: &photon_api_use_https false

services:
  dawarich-redis:
    container_name: dawarich-redis
    image: redis:7.4-alpine
    command: redis-server
    networks:
      default:
    volumes:
      - dawarich_shared:/data
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "redis-cli", "--raw", "incr", "ping"]
      interval: 10s
      retries: 5
      start_period: 30s
      timeout: 10s

  dawarich-postgres:
    container_name: dawarich-postgres
    image: postgis/postgis:17-3.5-alpine
    # image: imresamu/postgis:17-3.5-alpine # If you're on ARM architecture, use this image instead
    shm_size: 1G
    volumes:
      - dawarich_db_data:/var/lib/postgresql/data
      - dawarich_shared:/var/shared
    networks:
      default:
    env_file: .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-postgres}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-password}
      POSTGRES_DB: ${POSTGRES_DB:-dawarich_development}
    restart: unless-stopped
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "pg_isready -U ${POSTGRES_USER:-postgres} -d ${POSTGRES_DB:-dawarich_development}",
        ]
      interval: 10s
      retries: 5
      start_period: 30s
      timeout: 10s
    # command: postgres -c config_file=/etc/postgresql/postgresql.conf # Use custom config, uncomment if you want to use a custom config

  dawarich-app:
    container_name: dawarich-app
    image: *dawarich_image
    user: root
    volumes:
      - dawarich_public:/var/app/public
      - dawarich_watched:/var/app/tmp/imports/watched
      - dawarich_storage:/var/app/storage
      - dawarich_db_data:/dawarich_db_data
    networks:
      default:
      svr1-network:
        ipv4_address: 172.21.255.244
    dns:
      - 172.21.255.254
    dns_search: # don't append any search domain
      - "."
    ports:
      # Host Port : Container Port
      - 3002:3000
      # - "${DAWARICH_APP_PORT:-3000}:3000"
      # - "${PROMETHEUS_PORT:-9394}:9394" # Prometheus exporter, uncomment if needed
    stdin_open: true
    tty: true
    entrypoint: web-entrypoint.sh
    command: ["bin/rails", "server", "-p", "3000", "-b", "::"]
    restart: unless-stopped
    env_file: .env
    environment:
      APPLICATION_HOSTS: *app_hosts
      PHOTON_API_HOST: *photon_api_host
      PHOTON_API_USE_HTTPS: *photon_api_use_https
      PROMETHEUS_EXPORTER_ENABLED: ${PROMETHEUS_EXPORTER_ENABLED:-"false"}
      PROMETHEUS_EXPORTER_HOST: ${PROMETHEUS_EXPORTER_HOST:-0.0.0.0}
      PROMETHEUS_EXPORTER_PORT: ${PROMETHEUS_EXPORTER_PORT:-9394}
      OIDC_CLIENT_ID: ${AUTHENTIK_CLIENT_ID}
      OIDC_CLIENT_SECRET: ${AUTHENTIK_CLIENT_SECRET}
      OIDC_ISSUER: "https://authentik.bl4ckspell.freeddns.org/application/o/dawarich/"
      OIDC_REDIRECT_URI: "https://dawarich.bl4ckspell.freeddns.org/users/auth/openid_connect/callback"
      OIDC_AUTO_REGISTER: false # optional, default is false
      OIDC_PROVIDER_NAME: "Authentik" # optional, default is OpenID Connect
      ALLOW_EMAIL_PASSWORD_REGISTRATION: true # optional, default is true
    logging:
      driver: "json-file"
      options:
        max-size: ${LOG_MAX_SIZE:-100m}
        max-file: ${LOG_MAX_FILE:-5}
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "wget -qO - http://127.0.0.1:3000/api/v1/health | grep -q '\"status\"\\s*:\\s*\"ok\"'",
        ]
      interval: 10s
      retries: 30
      start_period: 30s
      timeout: 10s
    depends_on:
      dawarich-postgres:
        condition: service_healthy
        restart: true
      dawarich-redis:
        condition: service_healthy
        restart: true
    deploy:
      resources:
        limits:
          cpus: ${APP_CPU_LIMIT:-0.50}
          memory: ${APP_MEMORY_LIMIT:-4G}

  dawarich-sidekiq:
    container_name: dawarich-sidekiq
    image: *dawarich_image
    user: root
    volumes:
      - dawarich_public:/var/app/public
      - dawarich_watched:/var/app/tmp/imports/watched
      - dawarich_storage:/var/app/storage
    networks:
      default:
      svr1-network:
        ipv4_address: 172.21.255.239
    dns:
      - 172.21.255.254
    dns_search: # don't append any search domain
      - "."
    stdin_open: true
    tty: true
    entrypoint: sidekiq-entrypoint.sh
    command: ["sidekiq"]
    restart: unless-stopped
    env_file: .env
    environment:
      APPLICATION_HOSTS: *app_hosts
      PHOTON_API_HOST: *photon_api_host
      PHOTON_API_USE_HTTPS: *photon_api_use_https
      PROMETHEUS_EXPORTER_ENABLED: ${PROMETHEUS_EXPORTER_ENABLED:-"false"}
      PROMETHEUS_EXPORTER_HOST: ${PROMETHEUS_EXPORTER_HOST_SIDEKIQ:-dawarich-app}
      PROMETHEUS_EXPORTER_PORT: ${PROMETHEUS_EXPORTER_PORT:-9394}
      BACKGROUND_PROCESSING_CONCURRENCY: ${BACKGROUND_PROCESSING_CONCURRENCY:-10}
    logging:
      driver: "json-file"
      options:
        max-size: ${LOG_MAX_SIZE:-100m}
        max-file: ${LOG_MAX_FILE:-5}
    healthcheck:
      test: ["CMD-SHELL", "pgrep -f sidekiq"]
      interval: 10s
      retries: 30
      start_period: 30s
      timeout: 10s
    depends_on:
      dawarich-postgres:
        condition: service_healthy
        restart: true
      dawarich-redis:
        condition: service_healthy
        restart: true
      dawarich-app:
        condition: service_healthy
        restart: true

volumes:
  dawarich_db_data:
  dawarich_shared:
  dawarich_public:
  dawarich_watched:
  dawarich_storage:

networks:
  default:
    driver: bridge
  svr1-network:
    external: true
