- name: Remove all existing DNS configuration lines from resolved.conf
  ansible.builtin.lineinfile:
    path: /etc/systemd/resolved.conf
    regexp: "{{ item }}"
    state: absent
  loop:
    - "^#?DNS="
    - "^#?FallbackDNS="
    - "^#?DNSOverTLS="
    - "^#?DNSSEC="
    - "^#?Cache="
    - "^#?DNSStubListener="
    - "^#?ReadEtcHosts="
    - "^#?Domains="

- name: Configure systemd-resolved DNS settings
  ansible.builtin.blockinfile:
    path: /etc/systemd/resolved.conf
    insertafter: '^\[Resolve\]'
    marker: "# {mark} ANSIBLE MANAGED BLOCK"
    mode: "0644"
    block: |
      DNS=185.222.222.222#dot.sb 9.9.9.9#dns.quad9.net 1.1.1.1#one.one.one.one
      FallbackDNS=
      DNSOverTLS=yes
      DNSSEC=yes
      Cache=yes
      DNSStubListener=yes
      ReadEtcHosts=yes
      Domains=lan
  notify: Restart systemd-resolved

- name: Remove existing /etc/resolv.conf
  ansible.builtin.file:
    path: /etc/resolv.conf
    state: absent

- name: Symlink systemd-resolved stub to /etc/resolv.conf
  ansible.builtin.file:
    src: /run/systemd/resolve/stub-resolv.conf
    dest: /etc/resolv.conf
    state: link
    force: true
  notify: Restart systemd-resolved
