{
    "agent": false,
    "refresh_interval": "0 */30 * * * *",
    "ignore_update_type": "none",
    "theme": "blue",
    "registries": {
        "forgejo.bl4ckspell.freeddns.org": {
            "authentication": "{{ forgejo_registry_auth }}"
        }
    }
}
