{
    "agent": false,
    "refresh_interval": "0 0 */6 * * *",
    "ignore_update_type": "none",
    "theme": "blue",
    "registries": {
        "forgejo.{{ base_domain }}": {
            "authentication": "{{ forgejo_registry_auth }}"
        }
    }
}
