POSTGRES_PASSWORD="{{ dawarich_postgres_password }}"
DATABASE_PASSWORD="{{ dawarich_postgres_password }}"

TIME_ZONE: Europe/Berlin
APPLICATION_PROTOCOL: http
RAILS_ENV: development
RAILS_LOG_TO_STDOUT: "true"
REDIS_URL: redis://dawarich_redis:6379
DATABASE_HOST: dawarich_db
DATABASE_PORT: 5432
DATABASE_USERNAME: postgres
DATABASE_NAME: dawarich_development
SELF_HOSTED: "true"
STORE_GEODATA: "true"
DISABLE_TELEMETRY: "true"

# SECRET_KEY_BASE: "CHANGE_ME"
