POSTGRES_PASSWORD: "{{ dawarich_postgres_password }}"
DATABASE_PASSWORD: "{{ dawarich_postgres_password }}"

AUTHENTIK_CLIENT_ID: "{{ dawarich_authentik_client_id }}"
AUTHENTIK_CLIENT_SECRET: "{{ dawarich_authentik_client_secret }}"

SECRET_KEY_BASE: "{{ dawarich_secret_key_base }}"