{
	# Enable automatic HTTPS
	email bl4ckspell@proton.me # Replace with your email for Let's Encrypt
}

(error_page) {
	handle_errors {
		respond "{err.status_code} {err.status_text}"
	}
}

# Cup
cup.bl4ckspell.freeddns.org {
	import error_page
	reverse_proxy http://cup.lan:8000
}

# NPM (Nginx Proxy Manager)
npm.bl4ckspell.freeddns.org {
	import error_page
	reverse_proxy http://npm.lan:81
}

# Protected by Anubis
bl4ckspell.freeddns.org,
authentik.bl4ckspell.freeddns.org,
dawarich.bl4ckspell.freeddns.org,
dockge.bl4ckspell.freeddns.org,
dockhand.bl4ckspell.freeddns.org,
homepage.bl4ckspell.freeddns.org,
immich.bl4ckspell.freeddns.org,
jellyfin.bl4ckspell.freeddns.org,
kuma.bl4ckspell.freeddns.org,
linkwarden.bl4ckspell.freeddns.org,
paperless.bl4ckspell.freeddns.org,
pihole.bl4ckspell.freeddns.org {
	import error_page
	reverse_proxy http://anubis.lan:3000 {
		header_up X-Real-Ip {remote_host}
		header_up X-Http-Version {http.request.proto}
	}
}

# Internal listener for Anubis backend routing
:8080 {
	@root host bl4ckspell.freeddns.org
	handle @root {
		reverse_proxy http://homepage.lan:3000
	}

	@homepage host homepage.bl4ckspell.freeddns.org
	handle @homepage {
		reverse_proxy http://homepage.lan:3000
	}

	@authentik host authentik.bl4ckspell.freeddns.org
	handle @authentik {
		reverse_proxy https://authentik.lan:9443 {
			transport http {
				tls_insecure_skip_verify
			}
		}
	}

	@dawarich host dawarich.bl4ckspell.freeddns.org
	handle @dawarich {
		reverse_proxy http://dawarich.lan:3000
	}

	@dockhand host dockhand.bl4ckspell.freeddns.org
	handle @dockhand {
		reverse_proxy http://dockhand.lan:3000
	}

	@dockge host dockge.bl4ckspell.freeddns.org
	handle @dockge {
		reverse_proxy http://dockge.lan:5001
	}

	@immich host immich.bl4ckspell.freeddns.org
	handle @immich {
		reverse_proxy http://immich.lan:2283
	}

	@jellyfin host jellyfin.bl4ckspell.freeddns.org
	handle @jellyfin {
		reverse_proxy http://jellyfin.lan:8096
	}

	@kuma host kuma.bl4ckspell.freeddns.org
	handle @kuma {
		reverse_proxy http://kuma.lan:3001
	}

	@linkwarden host linkwarden.bl4ckspell.freeddns.org
	handle @linkwarden {
		reverse_proxy http://linkwarden.lan:3000
	}

	@paperless host paperless.bl4ckspell.freeddns.org
	handle @paperless {
		reverse_proxy http://paperless.lan:8000
	}

	@pihole host pihole.bl4ckspell.freeddns.org
	handle @pihole {
		reverse_proxy https://pihole.lan:443 {
			transport http {
				tls_insecure_skip_verify
			}
		}
	}
}
